In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
#Retriving columns present in the Dataset
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
#Performing One Hot Encoding 
dataset= pd.get_dummies(dataset)

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes'],
      dtype='object')

In [6]:
#Splitting the input columns from the dataset
independent=dataset[['age', 'bmi', 'children','sex_female', 'sex_male','smoker_no', 'smoker_yes']]
independent

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
0      19  27.900         0           1         0          0           1
1      18  33.770         1           0         1          1           0
2      28  33.000         3           0         1          1           0
3      33  22.705         0           0         1          1           0
4      32  28.880         0           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
1333   50  30.970         3           0         1          1           0
1334   18  31.920         0           1         0          1           0
1335   18  36.850         0           1         0          1           0
1336   21  25.800         0           1         0          1           0
1337   61  29.070         0           1         0          0           1

[1338 rows x 7 columns]

In [7]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={'n_estimators':[50,100],'criterion':['squared_error','absolute_error','friedman_mse','poisson'],'random_state':[None],'max_features':[None,'sqrt'
'log2']}
grid= GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)   
grid.fit(independent,dependent)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
40 fits failed out of a total of 80.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 450, in fit
    trees = Parallel(
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\joblib\parallel.py", line 1048, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\joblib\parallel.py", line 864, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\joblib\parallel.py", line 782, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\joblib\parallel.py", line 263, in __call__
    return [func(*args, **kwargs)
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\joblib\parallel.py", line 263, in <listcomp>
    return [func(*args, **kwargs)
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1315, in fit
    super().fit(
  File "C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 281, in fit
    raise ValueError(
ValueError: Invalid value for max_features. Allowed string values are 'auto', 'sqrt' or 'log2'.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.82833571 0.8255694         nan        nan 0.81816253 0.82310823
        nan        nan 0.82422436 0.82641555        nan        nan
 0.80405702 0.80587664        nan        nan]
  warnings.warn(
C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': [None, 'sqrtlog2'],
                         'n_estimators': [50, 100], 'random_state': [None]},
             verbose=3)

In [10]:
re=grid.cv_results_

In [11]:
print("The R_score value for the best parameter{}:".format(grid.best_params_))

The R_score value for the best parameter{'criterion': 'squared_error', 'max_features': None, 'n_estimators': 50, 'random_state': None}:

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,param_random_state,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.300027,0.010992,0.016591,0.001020,squared_error,None,50,None,"{'criterion': 'squared_error', 'max_features':...",0.848444,0.774359,0.856362,0.818230,0.844283,0.828336,0.029865,1
1,0.598255,0.022603,0.026984,0.003032,squared_error,None,100,None,"{'criterion': 'squared_error', 'max_features':...",0.849156,0.771235,0.856562,0.817628,0.833266,0.825569,0.030303,3
2,0.051767,0.003055,0.000000,0.000000,squared_error,sqrtlog2,50,None,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
3,0.096341,0.002654,0.000000,0.000000,squared_error,sqrtlog2,100,None,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
4,1.560500,0.010810,0.015191,0.000979,absolute_error,None,50,None,"{'criterion': 'absolute_error', 'max_features'...",0.824499,0.765017,0.835724,0.823414,0.842159,0.818163,0.027482,6
5,3.139997,0.041350,0.026789,0.001725,absolute_error,None,100,None,"{'criterion': 'absolute_error', 'max_features'...",0.841286,0.768488,0.846701,0.824417,0.834649,0.823108,0.028303,5
6,0.051171,0.001168,0.000000,0.000000,absolute_error,sqrtlog2,50,None,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
7,0.090544,0.002241,0.000000,0.000000,absolute_error,sqrtlog2,100,None,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
8,0.277037,0.004789,0.015192,0.000748,friedman_mse,None,50,None,"{'criterion': 'friedman_mse', 'max_features': ...",0.843656,0.772400,0.855756,0.815409,0.833901,0.824224,0.029082,4
9,0.559078,0.017292,0.027384,0.003553,friedman_mse,None,100,None,"{'criterion': 'friedman_mse', 'max_features': ...",0.848236,0.774538,0.858222,0.817375,0.833706,0.826416,0.029373,2
10,0.047173,0.001326,0.000000,0.000000,friedman_mse,sqrtlog2,50,None,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
11,0.087945,0.003157,0.000000,0.000000,friedman_mse,sqrtlog2,100,None,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
12,0.471528,0.008202,0.016990,0.001671,poisson,None,50,None,"{'criterion': 'poisson', 'max_features': None,...",0.813368,0.758368,0.818516,0.827907,0.802127,0.804057,0.024314,8
13,0.935064,0.014547,0.028983,0.004287,poisson,None,100,None,"{'criterion': 'poisson', 'max_features': None,...",0.818939,0.757517,0.820867,0.827694,0.804368,0.805877,0.025347,7
14,0.048766,0.002557,0.000000,0.000000,poisson,sqrtlog2,50,None,"{'criterion': 'poisson', 'max_features': 'sqrt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
15,0.100542,0.005425,0.000000,0.000000,poisson,sqrtlog2,100,None,"{'criterion': 'poisson', 'max_features': 'sqrt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,16

In [16]:
age_input=int(input("Enter age: "))
bmi_input=float(input("Enter bmi: "))
children_input=float(input("Enter children: "))
gender_male_input=int(input("Enter Gender: "))
gender_female_input=int(input("Enter Gender: "))
smoker_yes_input=int(input("Enter smoker: "))
smoker_no_input=int(input("Enter smoker: "))

Enter age: 20
Enter bmi: 30.5
Enter children: 3
Enter Gender: 1
Enter Gender: 0
Enter smoker: 1
Enter smoker: 0

In [18]:
future_predict=grid.predict([[age_input,bmi_input,children_input,gender_male_input,gender_female_input,smoker_yes_input,smoker_no_input]])
print("Future Prediction{}".format(future_predict))

Future Prediction[7901.4581858]

C:\Users\Jayarajan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(